.card__btn {
    cursor: pointer;
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.card__btn:hover {
    opacity: 0.5;
}